{
	"UniLogin": {
		"Username": "Your unilogin username",
		"Password": "Your unilogin password"
	},
	"Slack": {
		"WebhookUrl": "channel webhook"
	},
	"Children": [
		{
			"FirstName": "Kid 1 first name",
			"LastName": "Kid 1 last name",
			"Colour": "In case you need differntiation in an output",
			"GoogleCalendarId": "Google calendar ID for kid 1"
		},
		{
			"FirstName": "Kid 2 first name",
			"LastName": "Kid 2 last name",
			"Colour": "In case you need differntiation in an output",
			"GoogleCalendarId": "Google calendar ID for kid 2"
		}
	],
	"GoogleServiceAccount": {
		"Type": "service_account",
		"ProjectId": "your project ID",
		"PrivateKeyId": "your private key id",
		"PrivateKey": "your private key",
		"ClientEmail": "client account email",
		"ClientId": "client id",
		"AuthUri": "https://accounts.google.com/o/oauth2/auth",
		"TokenUri": "https://oauth2.googleapis.com/token",
		"AuthProviderX509CertUrl": "https://www.googleapis.com/oauth2/v1/certs",
		"ClientX509CertUrl": "link to your clients cert",
		"UniverseDomain": "googleapis.com"
	},
	"Telegram": {
		"BotName": "Name of your bot",
		"Token": "Token of your bot",
		"ChannelId": "ID of your channel - use a bot to retrieve it"
	},
	"OpenAi": {
		"ApiKey": "your-openai-api-key",
		"Model": "gpt-4" 
	}
}